@tailwind base;
@tailwind components;
@tailwind utilities;


.msg-input {
    width:200px;
    height:40px;
}

.msg-container {
    min-height:100px;
}

.login-input {
    width:200px;
    height:40px;
    padding: 5px;
}

.input-label{

}